/*
 * Visible mini widget buttons
 */
.gvs-mini-buttons {
	position: absolute;
	top: unset;
	right: unset;
	bottom: 157px;
	left: 264px;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.6);
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 5px;
}

@container (max-width: 576px) {       /* Special rule for small containers */
	.gvs-mini-buttons {
		left: unset;
		top: 60%;
		bottom: unset;
		right: 0;
		border-top-right-radius: 0;
	}
}

.gvs-mini-buttons button {
	border: none;
	background: none;
	color: white;
	margin: 0 3px;
	padding: 3px;
	border-radius: 5px;
	cursor: pointer;
}

.gvs-mini-buttons button img {
	height: 16px;
	vertical-align: middle;
}

@container (max-width: 576px) {       /* Special rule for small containers */
	.gvs-mini-buttons button img {
		height: 24px;
	}
}

.gvs-mini-buttons button:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

/* Hide when parent is wide */
.gvs.gvs-unfocused-hidden .gvs-mini-buttons {
	display: none;
}


/*
 * Badge button (mini widget hidden)
 */
.gvs-mini-buttons-badge {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 10px;
	left: 10px;
	border: none;
	width: 56px;
	height: 56px;
	border-radius: 28px;
	background-color: #1565C0;
	color: white;
	z-index: 1000;
	box-shadow: 2px 2px 5px #555;
}

@container (max-width: 576px) {       /* Special rule for small containers */
	.gvs.gvs-unfocused-hidden:not(.gvs-focus-map) .gvs-mini-buttons-badge {
		bottom: 50px;
	}
}

.gvs-mini-buttons-badge img {
	vertical-align: middle;
	height: 32px;
}

.gvs.gvs-unfocused-hidden .gvs-mini-buttons-badge {
	display: unset;
}
