@import '../../node_modules/@photo-sphere-viewer/core/index.css';
@import '../../node_modules/@photo-sphere-viewer/virtual-tour-plugin/index.css';
@import '../../node_modules/@photo-sphere-viewer/gallery-plugin/index.css';
@import '../../node_modules/@photo-sphere-viewer/markers-plugin/index.css';


/*
 *  Sizing of elements
 */

/* Parent container */
.gvs {
  container-type: inline-size;
}

/* Focused element */
.gvs .gvs-psv,                 /* PSV without map-focus */
.gvs.gvs-focus-map .gvs-map,   /* Map with map-focus */
.gvs .gvs-loader
{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

@container (max-width: 576px) {       /* Special rule for small containers */
  .gvs.gvs-has-map:not(.gvs-unfocused-hidden) .gvs-psv,                /* PSV without map-focus */
  .gvs.gvs-focus-map:not(.gvs-unfocused-hidden) .gvs-map   /* Map with map-focus */
  {
    bottom: 40%;
    height: 60%;
  }
}


/* Non-focused element */
.gvs:not(.gvs-focus-map) .gvs-map,  /* Map without map-focus */
.gvs.gvs-focus-map .gvs-psv         /* PSV with map-focus */
{
  position: absolute;
  top: unset;
  bottom: 10px;
  left: 10px;
  width: 320px;
  height: 180px;
  z-index: 1;
}

.gvs:not(.gvs-has-map) .gvs-map {
  display: none;
}

@container (max-width: 576px) {       /* Special rule for small containers */
  .gvs:not(.gvs-focus-map) .gvs-map,  /* Map without map-focus */
  .gvs.gvs-focus-map .gvs-psv         /* PSV with map-focus */
  {
    bottom: 0;
    left: 0;
    right: 0;
    top: 60%;
    width: 100%;
    height: 40%;
  }
}


/* Non-focused element when hidden */
.gvs:not(.gvs-focus-map).gvs-unfocused-hidden .gvs-map,  /* Map without map-focus */
.gvs.gvs-focus-map.gvs-unfocused-hidden .gvs-psv         /* PSV with map-focus */
{
  display: none;
}


/*
 * Styling
 */

/* Non-focused element */
@container (min-width: 576px) {                 /* Only for wide containers */
  .gvs:not(.gvs-focus-map) .gvs-map,
  .gvs.gvs-focus-map .gvs-psv .psv-container {
    border-radius: 10px;
  }
}

/* No navbar for non-focused PSV */
.gvs.gvs-focus-map .gvs-psv .psv-container .psv-navbar {
  display: none;
}

/* Smaller loading text */
.psv-loader-text {
  text-align: center;
  font-size: 0.9em;
}

/* Smaller PSV navbar when map is non-focused */
@container (min-width: 576px) {                 /* Only for wide containers */
  .gvs.gvs-has-map .psv-navbar {
    left: 340px;
    right: 0;
    border-top-left-radius: 10px;
    width: unset;
  }
}

/* Overlay under navbar */
.psv-overlay {
  z-index: 89;
}

/* Loader overlay */
.gvs .gvs-loader {
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(38,50,56);
  background: linear-gradient(30deg, rgb(38, 50, 56) 0%, rgb(176, 190, 197) 100%);
  z-index: 9000;
  transition: all 0.5s;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: white;
  font-size: 1.2em;
  text-align: center;
}

.gvs .gvs-loader.gvs-loader-visible {
  visibility: visible;
  opacity: 1;
}

.gvs .gvs-loader img {
  max-width: 90%;
  width: 250px;
  max-height: 80%;
}

/* Blinking dots for loader overlay */
@keyframes blink {50% { color: transparent }}
.gvs-loader-dot { font-size: 1.7em; animation: 1s blink infinite; }
.gvs-loader-dot:nth-child(2) { animation-delay: 250ms }
.gvs-loader-dot:nth-child(3) { animation-delay: 500ms }
